@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: none;
} */

@layer base {
  @font-face {
    font-family: "lead";
    src: url("fonts/Lead/lead-webfont.woff2") format("woff2"),
      url("fonts/Lead/lead-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "arastin_pro_free_demoregular";
    src: url("fonts/arastin_pro/arastin_pro-webfont.woff2") format("woff2"),
      url("fonts/arastin_pro/arastin_pro-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "arastin_script_free_demoRg";
    src: url("fonts/arastin_pro/arastin_script-webfont.woff2") format("woff2"),
      url("fonts/arastin_pro/arastin_script-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "arastin_std_free_demoregular";
    src: url("fonts/arastin_pro/arastin_std-webfont.woff2") format("woff2"),
      url("fonts/arastin_pro/arastin_std-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "star_avenueregular";
    src: url("fonts/staravenue/staravenue-webfont.woff2") format("woff2"),
      url("fonts/staravenue/staravenue-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}
